# Credential Settings for Server App

# Qiniu Config
QiNiuACCESS_KEY =''
QiNiuSECRET_KEY =''
QiNiuBucketName = ''
QiNiuIsPrivateBucket = True

# use for qiniu download
QiNiuHost = 'http://somehost.com'
